body{
    margin: 0;
    padding: 0;
    color: black;
    position: relative; 
    min-height: 100vh; 
    overflow-x: auto;
}

#nav-bar{
    display: flex;
    justify-content: space-around;
    background: url(pexels-photo-176851.jpeg);
}
#nav-bar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    width: 50%;
    color: white;
}

#nav-bar li a{
    text-decoration: none;
    color: #fff;
}

/* #logo-img{
    width: 200px;
    height: 40px;
    margin-right: 30px;
    text-decoration-color: white;
    visibility: visible;
    background-color: #fff;
} 

#logo{
    visibility: visible;
    color: #fff;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
} */

#section2{
    background: url(pexels-photo-176851.jpeg);
    background-size: 100%;
    width: 100%;
    text-align: center;
    height: 100vh;
    background-repeat: no-repeat;
}


#section2 h1{
    margin: auto auto;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 80%;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 40px;
    font-family: Georgia, serif;
    color: white;
}

#section2 p{
    width: 80%;
    color:#fff;
    font-size: 25px;
    margin: 0px 0px;
}

#section3{
    background-size: 100%;
    width: 100%; 
    justify-content: center;
    height: 130vh;
    background-repeat: no-repeat;
    position: inherit;
}

#About{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.ankita_pic img{ 
    height: auto;
    width: 100%;
    transition: transform 0.2s;
} 

.ankita_pic img:hover{
    transform: scale(1.01);
}

.ankita_pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

#section3 h3{
    margin-bottom: 5px;
}

#section3 p{
    margin-top: 0px;
}

#aboutme p {
    margin-left: 20px;
    margin-right: 20px;
} 

.footer-social-icon{
    width: 350px;
    display: block;
    margin: 0 auto;
}

.Follow{
    text-align: center;
}

.social-icon{
    color: black;
}

.social-icons li{
    vertical-align: top;
    display: inline;
    height: 100px;
    list-style: none;
    grid-area: auto;
}



.fa-square-instagram {
    /* padding:10px 14px; */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-square-instagram:hover {
    background-color: #45f3ca;
}

.fa-linkedin {
    /* padding:10px 14px; */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-square-github {
    /* padding:10px 14px; */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-square-github:hover {
    background-color: #5a32a3;
}

#contact{
    background-color: rgb(217, 250, 250);
    padding: 10px 0px 10px 0px;
}

.box{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#info{
    width: 280px;
}

.textarea{
    height: 180px;
    width: 400px;
    border: 0.1px solid;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.textarea:hover{
    border: 0.1px solid;
    color: blue;
}

.inputbox{
    height: 25px;
    width: 100%;
    padding: 5px;
    border: 0.1px solid;
    border-radius: 10px;
    margin-top: 5px;
}

.inputbox:hover{
    border: 0.1px solid;
    color: blue;
}

#message{
    width: 400px;
}

.submit_default{
    height: 40px;
    width: 90px;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    background-color: blue;
    align-self: center;
    align-self: flex-end;
}

  footer{
    color: #fff;
    background: black;
    font-size: 18px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.fa-brands, .fab {
    font-weight: 900;
    font-size: xx-large;
}

p{
    font-size: medium;
}






@media only screen and (max-width: 900px) {
    #section2 {
        height: 100vh;
        background-size: cover;
        background-position: center, center;
      }
      #section2 p{
        font-size: 14px;
    padding: 30px;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #Contact {
        height: 650px;
        padding: 10px;
      }
      .textarea{
          width: 80%;
      }
      #message {
        width: 360px;
      }
      #info{
          width:300px;
      }
      #aboutme{
          width:80%;
      }
}
@media only screen and (max-width: 600px) {
    #message{
        padding-left: 0px;
        width: 300px;
    }
    nav-bar{
        font-size: 12px;
    }
    nav-bar ul{
        margin-left:-100px;
    }
    #section2 p{
        font-size: 14px;
        padding: 30px;
    }
}
@media only screen and (max-width: 972px) {
    #section2{
        background-size: 100% 100%;
    }
}
@media only screen and (max-width: 800px) {
    #message{
        width: 350px;
    }
    #section2 p{
        font-size: 14px;
    padding: 30px;
    }

}


